@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    height: 1000vh;
}


.background{
    width: 100%;
    height: 700px;
    background-image: url(CSS/images/activities_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headingContainer{
    width: 70%;
    height: 20vw;
    margin: 0 auto;
    background-color: rgba(113, 113, 113, 0.523);
    border: 2px solid rgba(113, 113, 113, 0.523);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5vw;
    color: black;
}
.celebration > .mainheading{
    width: 100%;
    height: 6vw;
    background-color: yellow;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}


.teachersheading{
    width: 100%;
    height: 4vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.teachersinfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.teachersinfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.teachersinfo > .content > .box1{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.teachersinfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.teachersinfo > .content > .box3{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}


.defenceheading{
    width: 100%;
    height: 4vw;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.defenceinfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.defenceinfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.defenceinfo > .content > .box1{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.defenceinfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}
.defenceinfo > .content > .box3{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.independenceheading{
    width: 100%;
    height: 4vw;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.independenceinfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.independenceinfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.independenceinfo > .content > .box1{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.independenceinfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.independenceinfo > .content > .box3{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}


.quaidheading{
    width: 100%;
    height: 4vw;
    background-color: lightskyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.quaidinfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.quaidinfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.quaidinfo > .content > .box1{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.quaidinfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}
.quaidinfo > .content > .box3{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.ptmheading{
    width: 100%;
    height: 4vw;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.ptminfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.ptminfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.ptminfo > .content > .box1{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ptminfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.ptminfo > .content > .box3{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}


.activities > .mainheading{
    width: 100%;
    height: 6vw;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}


.ddgheading{
    width: 100%;
    height: 4vw;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.ddginfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.ddginfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.ddginfo > .content > .box1{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ddginfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.ddginfo > .content > .box3{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}


.dgheading{
    width: 100%;
    height: 4vw;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.dginfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.dginfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.dginfo > .content > .box1{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.dginfo > .content > .box2{
    flex: 1 1 0;
    /* background-image: url(gallery/1.jpeg); */
    background-position: center;
}
.dginfo > .content > .box3{
    flex: 1 1 0;
    /* background-image: url(gallery/5.jpeg); */
    background-position: center;
}


.assemblyheading{
    width: 100%;
    height: 4vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.assemblyinfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: orange;
}
.assemblyinfo > .content{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    display: flex;
}
.assemblyinfo > .content > .box1{
    flex: 1 1 0;
    background-image: url(gallery/1.jpeg);
    background-position: center;
}
.assemblyinfo > .content > .box2{
    flex: 1 1 0;
    background-image: url(gallery/5.jpeg);
    background-position: center;
}
.assemblyinfo > .content > .box3{
    font-size: 1.25vw;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}