@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.HeadingSection {
    width: 100%;
    border-top: 92px;
    background-image: url(CSS/images/facilities_background.jpg);
    background-repeat: no-repeat;
    background-position: start;
    background-size: cover;
}

.container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.FacilitiesHeading {
    font-size: 3.5vw;
    color: white;
}

/* Heading */
.ContentSection{
    width: 95%;
    height: auto;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.ContentSectionHeading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContentSectionHeading h2{
    margin: 40px 0;
    font-size: 2.75vw;
}



.ContentSection > .container{
    display: flex;
    /* border: 2px solid greenyellow; */
    width: 95%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.ContentSection > .container img{
    width: 100%;
    height: 7.5vh;
}

.ContentSection > .container > .box1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.166);
    border-radius: 15px;
    max-width: 30%;
    padding: 10px;
}
.box1content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box1content h3{
    margin: 8px 0;
    color: red;
}
.box1image {
    width: 100%;
    height: 7.5vh;
    background-image: url('svg/DigitalLibrary.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.box1:hover .box1image {
    transform: scale(1.15);
    background-image: url('svg/DigitalLibraryHover.svg');
}
.container > .box1:hover{
    background-color: red;
}
.box1:hover p, .box1:hover h3{
    color: white;
}

.ContentSection > .container > .box2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 166, 0, 0.166);
    border-radius: 15px;
    max-width: 30%;
    padding: 10px;
}
.box2content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box2content h3{
    margin: 8px 0;
    color: orange;
}
.box2image {
    width: 100%;
    height: 7.5vh;
    background-image: url('svg/MedicalCenter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.box2:hover .box2image {
    transform: scale(1.15);
    background-image: url('svg/MedicalCenterHover.svg');
}
.container > .box2:hover{
    background-color: orange;
}
.box2:hover p, .box2:hover h3{
    color: white;
}



.ContentSection > .container > .box3 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.166);
    border-radius: 15px;
    max-width: 30%;
    padding: 10px;
}
.box3content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box3content h3{
    margin: 8px 0;
    color: blue;
}
.box3image {
    width: 100%;
    height: 7.5vh;
    background-image: url('svg/Gymnasium.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.box3:hover .box3image {
    transform: scale(1.15);
    background-image: url('svg/GymnasiumHover.svg');
}
.container > .box3:hover{
    background-color:rgb(40, 40, 162);
}
.box3:hover p, .box3:hover h3{
    color: white;
}

.ContentSection > .container > .box4 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.156);
    border-radius: 15px;
    max-width: 30%;
    padding: 10px;
}
.box4content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box4content h3{
    margin: 8px 0;
    color: rgb(232, 221, 24);
}
.box4image {
    width: 100%;
    height: 7.5vh;
    background-image: url('svg/ComputerLab.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.box4:hover .box4image {
    transform: scale(1.15);
    background-image: url('svg/ComputerLabHover.svg');
}
.container > .box4:hover{
    background-color: rgb(236, 236, 34);
}
.box4:hover p, .box4:hover h3{
    color: white;
}

.ContentSection > .container > .box5 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.166);
    border-radius: 15px;
    max-width: 30%;
    padding: 10px;
}
.box5content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box5content h3{
    margin: 8px 0;
    color: green;
}
.box5image {
    width: 100%;
    height: 7.5vh;
    background-image: url('svg/SportsGround.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.box5:hover .box5image {
    transform: scale(1.15);
    background-image: url('svg/SportsGroundHover.svg');
}
.container > .box5:hover{
    background-color: green;
}
.box5:hover p, .box5:hover h3{
    color: white;
}

@media (max-width: 1024px) {
    .container{
        height: 450px;
    }
    .FacilitiesHeading{
        font-size: 3.7vw;
        margin-top: 85px;
    }
    .ContentSection > .container > .box1, .ContentSection > .container > .box2,.ContentSection > .container > .box3,.ContentSection > .container > .box4,.ContentSection > .container > .box5{
        max-width: 45%;
    }
    .box1image,.box2image,.box3image,.box4image,.box5image{
        height: 6vh;
    }
}

@media (max-width: 767px) {
    .container{
        height: 300px;
    }
    .FacilitiesHeading{
        font-size: 8.5vw;
        margin-top: 50px;
    }
    .ContentSection > .container > .box1, .ContentSection > .container > .box2,.ContentSection > .container > .box3,.ContentSection > .container > .box4,.ContentSection > .container > .box5{
        max-width: 90%;
    }
    .box1image,.box2image,.box3image,.box4image,.box5image{
        height: 6vh;
    }
    .ContentSectionHeading h2{
        margin: 40px 0;
        font-size: 7vw;
    }
    .ContentSection{
        margin: 0 auto 100vh auto;
    }
}




